@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{

    font-size: 10px;
}

body{

    background-color: #3b2e31;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

section{

    width: 32rem;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.75);
}

.personal-information{

    background-color: #7F2239;
    padding: 2.5rem 0 1.5rem 0;
}

.personal-information .tag{

    background-color: #FEBB0B;
    color: #231E39;
    border: 1px solid #FEBB0B;
    border-radius: 0.2rem;
    font-size: 1.4rem;
    padding: 0.1rem 0.7rem;
    position: absolute;

    top: 1.5rem;
    left: 2rem;
}

.personal-information img{

    height: 12rem;
    width: 12rem;
    border: 0.2rem solid #FBFAF3;
    border-radius: 50%;

    display: block;
    margin: auto;
}

.personal-information .name{

    text-align: center;
}

.personal-information .location{

    text-align: center;
    font-size: 1.3rem;
    margin: 0.2rem;
}

.personal-information a{

    text-decoration: none;
    color: inherit
}

.personal-information .university:hover{

    color: #470919;
}

.personal-information .position{

    text-align: center;
    font-size: 1.6rem;
    margin-top: 2rem;
}

.personal-information .buttons{

    text-align: center;
    margin: 1rem;
}

.personal-information button{

    border: 1px solid #FBFAF3;
    padding: 0.8rem 1.8rem;
    border-radius: 0.3rem;
    font-size: 1.3rem;
}

.personal-information button:hover{

    cursor: pointer;
}

.personal-information .primary-button{

    background-color: #FBFAF3;
    color: #000000;
    margin-right: 0.5rem;

}

.personal-information .secondary-button{

    background-color: transparent;
    color: #FFFFFF;
    margin-left: 0.5rem;

}

.personal-information .redirect-to-blog{

    text-align: center;
    margin: 1rem;
}

.personal-information .blog-button{

    border: none;

    background-color: transparent;
    color: #FFFFFF;
    margin-left: 0.5rem;
}

.personal-information .blog-button {
    letter-spacing: 0;
}

.personal-information .blog-button:after,
.personal-information .blog-button:before {
    backface-visibility: hidden;
    border: 1px solid rgba(0, 0, 0, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0.5rem auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 10rem;
}

.personal-information .blog-button:hover:after,
.personal-information .blog-button:hover:before {
    backface-visibility: hidden;
    border-color: #fff;
    transition: width 350ms ease-in-out;
    width: 10em;
}

.personal-information .blog-button:hover:before {
    bottom: auto;
    top: 0;
    width: 10em;
}

.social{

    text-align: center;
}

.social a{

    color: inherit;
    text-decoration: none;
}

.social i{

    font-size: 1.8rem;
    margin: 1rem 0.4rem;
}

.fa-linkedin:hover {

    color: #0A66C2;
}

.fa-github:hover {

    color: #000000;
}

.skills{

    background-color: #4c1d28;
    padding: 1.6rem 1rem;
}

.skills h2{

    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 0.5rem;
}

.skills ul li{

    display: inline-block;
    font-size: 1.2rem;
    border: 0.2rem solid #470919;
    border-radius: 0.2rem;
    padding: 0.4rem;
    margin: 0.2rem 0.1rem;
}

li{

    list-style: none;
}

body .overlay{

    -webkit-animation-name: apparition_from_top;
    -webkit-animation-duration: 0.5s;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    transition: opacity 500ms;
    opacity: 1;
    display: none;
}


body .wrapper{

    margin: 70px auto;
    padding: 20px;
    background: #7F2239;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-out;
}

.wrapper .close-button{

    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #FBFAF3;
}

.wrapper h2{

    margin-top: 0;

}

.wrapper .content{

    overflow: auto;
}

/* CSS for the popup's form commences here. */

body .container{

    border-radius: 5px;
    background-color: #7F2239;
    padding: 20px 0;
}

.container form label{

    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
}

.container input[type="text"], input[type="email"], textarea{

    width: 100%;
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.container button[type="submit"]{

    background: white;
    width: 100%;
    padding: 12px;
    border: 1px solid #FBFAF3;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.container button[type="submit"]:hover{

    background-color: #cccccc;
}

@-webkit-keyframes apparition_from_top {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes apparition_from_top {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}



/* Ends here. */