@media(max-width: 752px){

    body .wrapper{

        width: 85%;
        height: 75%;
    }
}

@media(max-width: 1080px) and (min-width: 753px){

    body .wrapper{

        width: 75%;
        height: 85%;
        scroll-behavior: auto;
        overflow-y: scroll;
    }
}

@media(max-width: 375px){

    body .wrapper{

        height: 100%;
        overflow-y: scroll;
        margin: 0 auto;
    }
}

@media screen and (orientation:landscape){

    body .wrapper .content{

        height: 75%;
        scroll-behavior: auto;
    }
}
